	
}

h1 {
    font-family: Lato, sans-serif;
	color:#9661a8;ß
    font-size:30px;
    line-height:30px;
    font-weight:300;
    letter-spacing:0.02em;
    font-size:30px;
    line-height:30px;
    font-weight:300;
    letter-spacing:0.02em;
}
.CTA
{
    background-color:#573d7d;
    border: 1px solid #573d7d
}
